<div class="container-fluid">
  <form [formGroup]="studentForm" (ngSubmit)="deleteStudent()">
    <div>
      <h3 style="font-family: sans-serif; text-align: center;">Delete
        Student</h3>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>ID</label>
        <input type="text" class="form-control" formControlName="id" readonly>
        <div style="color: red" *ngIf="(studentForm.controls.id.hasError('required') || studentForm.controls.id.hasError(('minlength')))&& studentForm.get('id').pristine"  >
          Id không được để trống
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>StudentName</label>
        <input type="text" class="form-control" formControlName="studentName" readonly>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>GroupName</label>
        <input type="text" class="form-control" formControlName="groupName" readonly>
      </div>
      <div class="form-group col-md-6">
        <label>AreaName</label>
        <input type="text" class="form-control" formControlName="areaName" readonly>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Instructor</label>
        <input type="text" class="form-control" formControlName="instructor" readonly>
      </div>
      <div class="form-group col-md-6">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email" readonly>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>PhoneNumbe</label>
        <input type="text" class="form-control" formControlName="phoneNumber" readonly>
      </div>
    </div>
    <button type="submit" style="background-color: #046056; color: #fff;"
            class="btn">Delete Student
    </button>
  </form>
</div>
