<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
</head>
<body>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/customer/create}" method="post" th:object="${customer}">
    <table>
        <tr>
            <th>customerId</th>
            <td>
                <input type="text" th:field="*{customerId}"/>
            </td>
        </tr>
        <tr>
            <th>customerName</th>
            <td>
                <input type="text" th:field="*{customerName}"/>
            </td>
        </tr>
        <tr>
            <th>customerBirthday</th>
            <td>
                <input type="text" th:field="*{customerBirthday}"/>
            </td>
        </tr>
        <tr>
            <th>customerGender</th>
            <td>
                <input type="text" th:field="*{customerGender}"/>
            </td>
        </tr>
        <tr>
            <th>customerIdCard</th>
            <td>
                <input type="text" th:field="*{customerIdCard}"/>
            </td>
        </tr>
        <tr>
            <th>customerPhone</th>
            <td>
                <input type="text" th:field="*{customerPhone}"/>
            </td>
        </tr>
        <tr>
            <th>customerEmail</th>
            <td>
                <input type="text" th:field="*{customerEmail}"/>
            </td>

        </tr>
        <tr>
            <th>customerAddress</th>
            <td>
                <input type="text" th:field="*{customerAddress}"/>
            </td>
        </tr>
        <tr>
            <th>customerType</th>
            <td>
                <select th:field="*{customerType}">
                    <option th:each="customerType : ${customerTypes}" th:value="${customerType.customerTypeId}" th:text="${customerType.customerTypeName}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Create">
            </td>
        </tr>
    </table>
</form>
</body>
</html>