<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List student</title>
</head>
<body>
<h1>List student</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Subject Name</th>
        <th>Teacher</th>
    </tr>
    <tr th:each="student: ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.age}"></td>
        <td th:text="${student.address}"></td>
        <td th:text="${student.subject.subjectName}"></td>
        <td th:text="${student.subject.teacher}"></td>
    </tr>
</table>
</body>
</html>