<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1>Edit</h1>
<p><a th:href="@{/blog}">Back to home</a></p>
<form th:action="@{/blog-update}" th:object="${blog}" method="post">
    <table border="1" style="text-align: left">
        <tr>
            <th>Title</th>
            <td>
                <input type="text" th:field="*{title}">
            </td>
        </tr>
        <tr>
            <th>Content</th>
            <td>
                <input type="text" th:field="*{content}">
            </td>
        </tr>
        <tr>
            <th>Category</th>
            <td>
                <select th:field = "*{category}">
                    <option th:each="c : ${categories}" th:value="${c.getId()}" th:text="${c.getName()}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
            </td>
        </tr>
    </table>
</form>
</body>
</html>