<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
<h1>VIEW</h1>
<p><a th:href="@{/blog}">Back to home</a></p>
<form th:action="@{/blog-delete}" th:object="${blog}" method="post">
    <table border="1" style="text-align: left">
        <tr>
            <th>ID</th>
            <td>
                <input type="text" th:field="*{id}">
            </td>
        </tr>
        <tr>
            <th>Title</th>
            <td>
                <input type="text" th:field="*{title}">
            </td>
        </tr>
        <tr>
            <th>Content</th>
            <td>
                <input type="text" th:field="*{content}">
            </td>
        </tr>
    </table>
</form>
</body>
</html>