<h3>Register Form</h3>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <p>
    <label for="firstname">First Name</label>
    <input type="text" id="firstname" name="firstname" formControlName="firstname">
  </p>
  <p>
    <label for="lastname">Last Name</label>
    <input type="text" id="lastname" name="lastname" formControlName="lastname">
  </p>
  <p>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" formControlName="password">
  </p>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>

<br>

<h3>Login</h3>
<form>
  <p>
    <label for="firstnameLogin">First Name</label>
    <input type="text" id="firstnameLogin" name="firstnameLogin" formControlName="firstnameLogin">
  </p>
  <p>
    <label for="passwordLogin">Password</label>
    <input type="password" id="passwordLogin" name="passwordLogin" formControlName="passwordLogin">
  </p>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>
