<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <!--<div th:replace="~{template::header}"></div>-->
    <div th:replace="~{template::headerWithUser(${user})}"></div>
    <h1 th:text="|Welcom ${user}|"></h1>
    <table th:object="${stu}" border="1">
        <tr>
            <td>ID</td>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td th:text="*{name}"></td>
        </tr>
        <tr>
            <td>Age</td>
            <td th:text="*{age}"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td th:text="*{address}"></td>
        </tr>
    </table>
    <h2 th:text="#{hello}"></h2>
    <a th:href="@{https://www.google.com}">Google</a>
    <div th:replace="template::footer"></div>
    <h1 th:if="${message != null}" th:text="${message}"></h1>
</body>
</html>