form{
    width: 25%;
    height: 190px;
    margin: auto;
    border: solid 1px black;
    padding: 20px;
}
label{
    width: 160px;
    display: inline-block;
}

input{
    height: 30px;
}

form div{
    margin-bottom: 20px;
}

.button{
    margin-left: 149px;
}