<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="DemoLayoutReponsive.css">
</head>
<body>
<div class="head"></div>
<div class="row ">
    <div class="col-3 col-s-3 left">
        <ul>
            <li>Hà nội</li>
            <li>Đà Nẵng</li>
            <li>Hồ Chí Minh</li>
            <li>Cần Thơ</li>
            <li>Hải Phòng</li>
        </ul>
    </div>
    <div class="col-6 col-s-9 content">
        <p>Đà Nẵng là một thành phố trực thuộc trung ương, nằm trong vùng Duyên hải Nam Trung Bộ Việt Nam,
            là thành phố trung tâm và lớn nhất khu vực miền Trung - Tây Nguyên.</p>
    </div>
    <div class="col-3 col-s-12 right">
        <p>Quảng cáo</p>
        <p>Quảng cáo</p>
        <p>Quảng cáo</p>
        <p>Quảng cáo</p>
    </div>
</div>
<div class="foot"></div>
</body>
</html>
