<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
            integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <form th:action="@{/product/create}" th:object="${product}"
          method="post">
        <div>
            <h3 style="font-family: sans-serif; text-align: center;">Create
                Product</h3>
        </div>
        <div>
            <th:block th:if="${message}">
                <h5 class="card-header" th:text="${message}" style="color: #00ab6c"></h5>
            </th:block>
        </div>
        <!--        <input type="hidden" th:field="*{productId}">-->
        <div><a th:href="@{/product/list}">Back to list</a></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Product Name</label>
                <input type="text" class="form-control" th:field="*{productName}">
                <p style="color: red;" th:if="${#fields.hasErrors()}" th:errors="*{productName}"></p>
            </div>
            <div class="form-group col-md-6">
                <label>Category</label>
                <select class="form-control" th:field="*{category}">
                    <option th:each="category : ${categories}"
                            th:value="${category.categoryId}"
                            th:text="${category.categoryName}"></option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Product Price</label>
                <input type="text" class="form-control"
                       th:field="*{productPrice}">
                <p style="color: red;" th:if="${#fields.hasErrors()}" th:errors="*{productPrice}"></p>
            </div>
            <div class="form-group col-md-6">
                <label>Product Status</label>
                <input type="text" class="form-control"
                       th:field="*{productStatus}">
                <p style="color: red;" th:if="${#fields.hasErrors()}" th:errors="*{productStatus}"></p>
            </div>
        </div>
        <button type="button" style="background-color: #046056; color: #fff;"
                class="btn" data-target="#createModal" data-toggle="modal">Create Product
        </button>

        <!-- Modal -->

        <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: #007bff;">Create Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5>Are you sure to create this product?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" style="background-color: #007bff; color: white;"
                                class="btn">CANCEL
                        </button>
                        <button type="submit" class="btn btn-danger">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
    </form>
</div>
</body>
</html>