<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
<h3>Create Product</h3>
<form th:action="@{/product/create-product}" method="post" th:object="${product}">
<table class="table">
    <tr>
        <td>Product Code</td>
        <td><input type="text" th:field = "*{codeProduct}"></td>
    </tr>
    <tr>
        <td>Product Name</td>
        <td><input type="text" th:field = "*{nameProduct}"></td>
    </tr>
    <tr>
        <td>Price</td>
        <td><input type="text" th:field = "*{price}"></td>
    </tr>
    <tr>
        <td>Discount</td>
        <td><input type="text" th:field = "*{discount}"></td>
    </tr>
    <tr>
        <td>Description</td>
        <td><textarea cols="21" rows="5" type="text" th:field = "*{description}"></textarea></td>
    </tr>
    <tr>
        <td>Image Link</td>
        <td><input type="file" th:field = "*{img}"></td>
    </tr>
    <tr>
        <td></td>
        <td><input class="btn btn-primary" type="submit" value="Create product"></td>
    </tr>
</table>
</form>
</body>
</html>