<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="MyLayout.css">
</head>
<body>
<div class="grid">
    <div class="row">
        <div class="col-l-12 col-m-12">
            <h1 class="head"> Header</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-l-3 col-m-6">
            <h3 class="left"> Left</h3>
        </div>
        <div class="col-l-6 col-m-6">
            <p>Đà Nẵng là một thành phố trực thuộc trung ương, nằm trong vùng Duyên hải Nam Trung Bộ Việt Nam,
                là thành phố trung tâm và lớn nhất khu vực miền Trung - Tây Nguyên.
                Đà Nẵng là một thành phố trực thuộc trung ương, nằm trong vùng Duyên hải Nam Trung Bộ Việt Nam,
                là thành phố trung tâm và lớn nhất khu vực miền Trung - Tây Nguyên
                Đà Nẵng là một thành phố trực thuộc trung ương, nằm trong vùng Duyên hải Nam Trung Bộ Việt Nam,
                là thành phố trung tâm và lớn nhất khu vực miền Trung - Tây Nguyên</p>
        </div>
        <div class="col-l-3 col-m-12">
            <h3 class="right"> right</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-l-12">
            <h3 class="footer"> Footer</h3>
        </div>
    </div>
</div>
</body>
</html>
