/*Custom*/

/*Header*/
.header-top .logo img{
    width: 70px;
    height: 90px;
    margin-left: 180px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.header-top .personal{
    text-align: right;
}

.header-top .personal p{
    margin-top: 40px;
    margin-right: 180px;
}

.header-navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #046056;
    z-index: 1000;
}

.header-navbar div ul li{
    margin-left: 30px;
}

/*Content*/
.content {
    width: 100%;
    position: relative;
    height: 100%;
}

.sidebar {
    position: absolute;
    top: 0;
    width: 25%;
    display: inline-block;
    clear: none;
}

.main-content {
    background-color: white;
    width: 75%;
    padding: 40px 80px 40px 40px;
    display: inline-block;
    margin-left: 25%;
}

.sidebar ul li a {
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.sidebar ul {
    background: lightblue;
    width: 100%;
    padding: 0;
    list-style-type: none;
    text-align: left;
    clear: none;
    margin-top: 0;
}

.sidebar ul li {
    width: auto;
    height: 49px;
    line-height: 40px;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 1em;
    position: relative;
}

.sidebar ul li:hover {
    background-color: deepskyblue;
}

.sidebar .sub-catalog {
    position: absolute;
    left: 250px;
    top: 0;
    display: none;
}

.sidebar li:hover .sub-catalog {
    display: block;
}

/*------Footer----------*/

/*------Login----------*/
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}