<h1>Create new product</h1>
<form [formGroup]="productForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Product Code</td>
      <td><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td>Product name:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Product price</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Tạo mới</button></td>
    </tr>
  </table>
</form>
